In [1]:
import pandas as pd
import sqlalchemy as sa
import psycopg2 as pg
from pandas.io.sql import read_sql
from io import StringIO

In [2]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://qiaoqiao:michEcon9881@wrds-pgdata.wharton.upenn.edu:9737/wrds')

In [8]:
sql = """
      SELECT permco, date, ret FROM crsp.dsf WHERE EXTRACT(YEAR FROM date)>=2011 and EXTRACT(YEAR FROM date)<=2013
"""

df = pd.read_sql(sa.text(sql), engine)

In [9]:
df.head()

   permco        date       ret
0  5974.0  2011-01-03  0.007612
1  5974.0  2011-01-04  0.006181
2  5974.0  2011-01-05 -0.020478
3  5974.0  2011-01-06 -0.002787
4  5974.0  2011-01-07 -0.002096

In [10]:
df.shape

(5082605, 3)

In [11]:
df = df.drop_duplicates()

In [12]:
df.shape

(5077381, 3)

In [23]:
sql = """
      SELECT permco, dclrdt, distcd, DIVAMT FROM crsp.dse WHERE EXTRACT(YEAR FROM date)=2012 and distcd = 1232
"""
# 1232 is normal quarterly cash dividend
div = pd.read_sql(sa.text(sql), engine)

In [24]:
div = div.drop_duplicates()
div.shape

(9293, 4)

In [27]:
div['lagdiv'] = div.groupby('permco')['divamt'].shift()

In [29]:
div = div.dropna()
div.head()

   permco      dclrdt  distcd  divamt  lagdiv
1  7976.0  2012-05-16  1232.0    0.13    0.13
2  7976.0  2012-08-29  1232.0    0.13    0.13
3  7976.0  2012-11-28  1232.0    0.16    0.13
5  7992.0  2012-05-03  1232.0    0.11    0.10
6  7992.0  2012-08-23  1232.0    0.11    0.11

In [30]:
divincrease = div.loc[div.divamt>div.lagdiv]

In [33]:
divincrease = divincrease.drop('distcd', axis=1)
divincrease.head()

     permco      dclrdt   divamt   lagdiv
3    7976.0  2012-11-28  0.16000  0.13000
5    7992.0  2012-05-03  0.11000  0.10000
9   20023.0  2012-04-12  0.05000  0.03000
22   8048.0  2012-09-18  0.23000  0.20000
25  53202.0  2012-12-21  0.05583  0.00821

In [34]:
divincrease.shape

(2158, 4)

In [35]:
df.to_pickle('dsf20112013.pickle')

In [36]:
divincrease.to_pickle('dist.pickle')

In [3]:
sql = """
      SELECT * FROM crsp.dsi WHERE EXTRACT(YEAR FROM date)>=2011 and EXTRACT(YEAR FROM date)<=2013
"""

dmkt = pd.read_sql(sa.text(sql), engine)

In [5]:
dmkt[['date', 'vwretd']].to_pickle('dmkt20112013.pickle')