In [1]:
from __future__ import division
from __future__ import print_function
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#import pandas_datareader.data as web
import datetime
plt.rc('figure', figsize=(16, 10))
from numpy.linalg import inv
from numpy import dot

/Users/qiaoqiaozhu/anaconda/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
msf = pd.read_csv('asgn1.csv')
msf['date']=pd.to_datetime(msf.date)
msf = msf.sort_values(['PERMNO', 'date'])
msf = msf.set_index('date')
msf = msf[['PERMNO', 'RET']]
msf.head(3)

            PERMNO       RET
date
1994-01-31   10107  0.055814
1994-02-28   10107 -0.030837
1994-03-31   10107  0.027273

### Expected Return and Realized Return

In [3]:
msf['2003-1-31': '2006-12-30'].groupby('PERMNO').mean()

             RET
PERMNO
10107   0.007026
12490   0.005709
14593   0.061304
26403   0.017271
57665   0.019287

In [4]:
msf['2007'].groupby('PERMNO').mean()

             RET
PERMNO
10107   0.019185
12490   0.011290
14593   0.076164
26403  -0.002645
57665   0.023905

In [5]:
msf['2007-01-31'].set_index('PERMNO')

             RET
PERMNO
10107   0.033490
12490   0.020587
14593   0.010490
26403   0.026262
57665  -0.002222

#### COV

In [6]:
msf['2003-1-31': '2005-12-30'].reset_index().set_index(['PERMNO', 'date']).unstack('PERMNO').cov()

                 RET
PERMNO         10107     12490     14593     26403     57665
    PERMNO
RET 10107   0.002009  0.000390  0.000173  0.000131 -0.000378
    12490   0.000390  0.002679  0.001678  0.001230  0.000976
    14593   0.000173  0.001678  0.012348  0.002806  0.000411
    26403   0.000131  0.001230  0.002806  0.003601  0.000546
    57665  -0.000378  0.000976  0.000411  0.000546  0.002428

In [7]:
msf['2005-1-31': '2007-12-30'].reset_index().set_index(['PERMNO', 'date']).unstack('PERMNO').cov()

                 RET
PERMNO         10107     12490     14593     26403     57665
    PERMNO
RET 10107   0.004365  0.001035  0.002432  0.000390  0.000749
    12490   0.001035  0.003336  0.001990  0.000835  0.000461
    14593   0.002432  0.001990  0.010824  0.000101  0.001167
    26403   0.000390  0.000835  0.000101  0.001630  0.000316
    57665   0.000749  0.000461  0.001167  0.000316  0.002243

### Other Diversification

\begin{align}
& \min_{\omega_{t}} \frac{1}{2}\omega'_{t} \Sigma_{t} \omega_{t}\\
& \omega'_{t}\iota=1
\end{align}
where $\iota$ is a $N\times 1$ vector of 1s.

Solving the FOC, we get \begin{equation*}\omega_{t}=\lambda \Sigma_{t}^{-1} \iota\end{equation*} and plug into $\omega'_{t}\iota=1$, then
\begin{equation*}\lambda \iota'\Sigma_{t}^{-1} \iota =1 \end{equation*} or $\lambda=\frac{1}{\iota'\Sigma_{t}^{-1} \iota}$
therefore, \begin{equation*}\omega_{t}=\frac{\Sigma_{t}^{-1} \iota}{\iota'\Sigma_{t}^{-1} \iota} \end{equation*}

We can also see the derivation from the lecture notes when expected return constraint is not binding.
Notice, here \begin{equation*}\omega'_{t}\iota=1\end{equation*}. That is, $\omega_{t}$ is already weights in risky portfolio $w_{t}$.

In [10]:
def meanvar(mu, syear, eyear):
    ret = msf[syear:eyear]
    rbar = ret.groupby('PERMNO')['RET'].mean().as_matrix()
    cov = ret.reset_index().set_index(['PERMNO', 'date']).unstack('PERMNO').cov().as_matrix()
    ones = np.ones(rbar.shape)
    A = rbar.T.dot(inv(cov)).dot(rbar)
    B = rbar.T.dot(inv(cov)).dot(ones)
    C = ones.T.dot(inv(cov)).dot(ones)
    omega = (C*mu-B)/(A*C-B**2)*dot(inv(cov), rbar) + (A-B*mu)/(A*C-B**2)*dot(inv(cov), ones)
    sigmahut = np.sqrt(omega.transpose().dot(cov).dot(omega))
    return omega, sigmahut

In [11]:
w = meanvar(0.02, '2004', '2007')[0]
w

array([ 0.14628654,  0.0914625 ,  0.14445948,  0.21218013,  0.40561136])

In [12]:
def minvar(syear, eyear):
    ret = msf[syear:eyear]
    rbar = ret.groupby('PERMNO')['RET'].mean().as_matrix()
    cov = ret.reset_index().set_index(['PERMNO', 'date']).unstack('PERMNO').cov().as_matrix()
    ones = np.ones(rbar.shape)
    omega = inv(cov).dot(ones)/ones.T.dot(inv(cov)).dot(ones) 
    sigmahut = np.sqrt(omega.transpose().dot(cov).dot(omega))
    return omega, sigmahut

In [13]:
w_minv, sigma_minv = minvar( '2004', '2007')
w_minv

array([ 0.20166899,  0.22200651, -0.05260355,  0.25257048,  0.37635758])

In [14]:
cmret = msf.loc['2008-01-31', 'RET']
rw = w.dot(cmret)
rw

-0.093318866130872952

In [15]:
w_minv.dot(cmret)

-0.038511367387933607

In [16]:
cmret.mean()

-0.10619099270552801

In [17]:
w2 = meanvar(0.02, '2003', '2005')[0]
w2_minv = minvar( '2003', '2005')[0]

In [18]:
cmret2 = msf['2006-01-31'].set_index('PERMNO')
print(w2.dot(cmret2))
print(w2_minv.dot(cmret2))
print(cmret2.RET.mean())

[ 0.01375867]
[ 0.01704966]
0.0209004130214

### Incorporating Views

You can incoporate your own views in the estimate.

One popular approach is Black-Litterman approach.

For example, to incorporate a simple view on the return of an asset,
$$ \frac{\theta_{1}}{\theta_{1}+\theta_{2}} \bar r_{i} + \frac{\theta_{2}}{\theta_{1}+\theta_{2}} v_{i} $$

where $\theta$ is confidence of estimate and views, $\bar r_{i}$ is return estimate, and $v_{i}$ is view

### Turnover

In [19]:
cmgret = (1+msf.loc['2008-01-31', 'RET']).as_matrix()

In [20]:
# end of month weight
cmgret *w /(1+ rw)

array([ 0.14774656,  0.0999523 ,  0.10887826,  0.21632935,  0.42709353])

In [21]:
# new optimal weight
meanvar(0.02, '2004-02-28', '2008-1-28')[0]

array([ 0.15028858,  0.07986148,  0.14632123,  0.21408766,  0.40944104])

In [22]:
meanvar(0.02, '2004-02-28', '2008-1-28')[0] - cmgret *w /(1+ rw)

array([ 0.00254202, -0.02009082,  0.03744297, -0.00224169, -0.01765249])